.task {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.task h2 {
    margin: 0;
    font-size: 1.5em;
}

.task button {
    background-color: #28a745; /* Verde para el botón de agregar actividad */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.task button:hover {
    background-color: #218838;
}
